body {
  font-family: 'Poppins', sans-serif;
}

.background {
  background-color: black;
  background: url("./hanny-naibaho-388579-unsplash.png");
  background-size: cover !important;
  background-size: 100vw;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 85%;
}

.black-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#dateBoxes {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 15vw;
  padding-bottom: 10%;
}

.block {
  width: 25vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: white;
  padding-bottom: 2%;
  padding-top: 2%;
}

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  border-top-style: solid;
  border-top-width: thin;
  border-color: white;
  /*font-weight: bold;*/
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /*justify-content:center;*/
}

.noBorder {
  border-top-style: none !important;
}

.getTickets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: grey;
  border: 2vw;
  border-radius: 1vw;
  border-style: solid;
  border-color: white;
  border-width: 0.15vw;
  height: 5vh;
  color: white;
}

.getTickets:hover {
  color: #61f8a0;
  background-color: #2c3833;
  cursor: pointer;
}

.socialIcons img {
  padding-left: 4%;
  height: 4vh;
}

.showsBig {
  color: white;
  padding-top: 15vh;
  font-size: 5vw;
  padding-left: 15vw;
  font-weight: bolder;
  margin: 0%;
}

.parentFooter {
  padding-bottom: 5%;
  background-color: #2b2b2b;
  color: white;
}

.footer {
  background-color: #2b2b2b;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.contact {
  padding-left: 4%;
  margin: 0%;
  padding-top: 2%;
  font-size: 3vw;
}

.contactList {
  list-style: none;
  padding-left: 0%;
}

.box {
  padding: 2%;
  font-size: 1vw;
  color: white;
}

.section1 {
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: black;
}

.leftTitle {
  width: 15%;
  color: white;
  padding-left: 2vw;
}

.showsTitle {
  width: 10%;
  color: white;
  padding-right: 6%;
}

.homeTitle {
  width: 10%;
  color: white;
}

.showsTitle:hover {
  color: #61f8a0;
  cursor: pointer;
}

.homeTitle:hover {
  color: #61f8a0;
  cursor: pointer;
}

@media (min-width: 650px) {
  .getTickets {
    width: 15vw;
  }
}
/*# sourceMappingURL=assignment2.css.map */