/*Jack Hill -- JUNE 24, 2018*/
.bold {
  font-weight: bold;
}

.leftTitle {
  width: 15%;
  color: white;
  padding-left: 2vw;
}

.homeTitle:hover {
  color: #61f8a0;
}

.showsTitle {
  width: 10%;
  color: white;
  text-decoration: none;
}

.homeTitle {
  width: 10%;
  color: white;
}

.showsTitle:hover {
  color: #61f8a0;
}

.section1 {
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: black;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section2a {
  font-size: 40px;
  font-style: bolder;
}

.section2p {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: white;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 15vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section2a:hover {
  color: #0e3535;
}

.listen {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 10vh;
  font-size: 2vw;
  background-color: black;
  padding: 1vw;
}

.listen:hover {
  color: #61f8a0;
  background-color: #2c3833;
  cursor: pointer;
}

.description1 {
  width: 35vw;
  font-size: 3vw;
  font-size: 3vh;
  padding-left: 2%;
}

.description2 {
  width: 60%;
  font-size: 2.5vh;
  padding-left: 3%;
  padding-right: 2%;
}

.bold {
  font-weight: bold;
}

h1, h2, h3, p, li, ul, a {
  font-family: 'Poppins', sans-serif;
}

.about {
  padding-left: 2%;
}

.bigH {
  /*padding-left: 1.5vw;*/
  font-size: 4vw;
  font-weight: bolder;
  margin: 0%;
  padding-top: 2%;
}

.contact {
  padding-left: 4%;
}

.contactList {
  list-style: none;
  padding-left: 0%;
}

.section3 {
  width: 100%;
  height: 60%;
  padding-left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 2%;
}

.section4b {
  width: 40vw;
  padding-left: 4vw;
}

.section4a img {
  width: 20vw;
  padding-right: 5vw;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section4 {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 2%;
}

.section5 {
  width: 100%;
  height: 30%;
  padding-top: 2%;
  padding-bottom: 2%;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

body {
  padding: 0%;
  /*margin: 1%;*/
}

.backgroundSet {
  overflow: hidden;
  padding: 0%;
  background-size: cover !important;
  background-size: 100vw;
  height: 95vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url("./backgroundImage.jpg") no-repeat center center fixed;
}

.box {
  padding: 2%;
  font-size: 1.2vw;
  color: white;
}

.footer {
  background-color: #2b2b2b;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.parentFooter {
  padding-bottom: 5%;
  background-color: #2b2b2b;
  color: white;
}

.imageBank {
  height: 70vh;
  width: 70vw;
}

.socialIcons {
  padding-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.socialIcons img {
  padding-left: 4%;
  height: 4vh;
}

.imageBank img {
  width: 15vw;
  padding: 1%;
}

.description {
  font-weight: bold;
}

#postButton {
  background: black;
  color: white;
  width: 15vw;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1vw;
  border-radius: 0.3em;
  font-size: 1.2vw;
}

#postButton:hover {
  background: white;
  color: black;
  cursor: pointer;
}

.commentSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f3f3f3;
}

.commentStyle {
  width: 60vw;
  padding: 2%;
}

.commenterName {
  font-size: 1.5vw;
  font-weight: bold;
}

#postedComments {
  background: #f3f3f3;
  width: 50vw;
}

.comments {
  padding-left: 5%;
}

.commentMod {
  font-size: 1.2vw;
  margin-top: 6%;
  margin-bottom: 4%;
  border-top-style: solid;
  border-top-width: thin;
  border-bottom-width: thin;
  border-color: #8b8b8b;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
}

#userName {
  width: 40vw;
  height: 4vh;
}

#userComment {
  width: 40vw;
  height: 20vh;
}

.user {
  font-weight: bolder;
  padding-bottom: 2%;
}

.literalComment {
  font-weight: 0.9em;
}

@media (max-width: 750px) {
  .description1 {
    font-size: 2.5vw;
  }
  .description2 {
    font-size: 2.5vw;
  }
  .albumDescription {
    font-size: 2.5vw;
  }
  .section4b {
    width: 50vw;
  }
  .section1 {
    font-size: 1.5vw;
  }
  .imageBank img {
    width: 30vw;
  }
  .imageBank {
    height: 160%;
  }
  #postedComments {
    width: 60vw;
  }
  #userComment {
    height: 10vh;
  }
}

@media (max-width: 950px) {
  .section1 {
    font-size: 1.5vw;
  }
  .section2a {
    font-size: 3vw;
  }
  .box {
    font-size: 1.5vw;
  }
  .bigH {
    font-size: 4vw;
  }
  .description {
    font-size: 2.5vw;
  }
}
/*# sourceMappingURL=project1a.css.map */